.e{margin-left:1em;text-indent:-1em;margin-right:1em}
.c{cursor:hand}
.b{color:red;font-family:'Courier New';font-weight:bold;text-decoration:none}
.m{color:blue}
.t{color:#990000}
.k{margin-left:1em;text-indent:-1em;margin-right:1em}
.ci{font:small Courier;color:#888888}
.tx{font-weight:bold}
.ns{color:red}

PRE{margin:0px;display:inline}
